@font-face {
  font-family: 'Manrope';
  src: url('/public/fonts/Manrope-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
:root {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  font-family: 'Manrope';
 
}
