@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.ttf');
}
:root {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  font-family: 'Manrope';
  font-weight: bold;
}
